<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :begin_date %>
    <%= form.date_select :begin_date, class:"form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, class:"form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.select :status, Project.statuses.keys, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Proyecto", class: "btn btn-info" %>
  </div>
<% end %>
